.admin-event-container {
  .paper {
    padding: 2em;
    border-radius: 12px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }

  .MuiTextField-root {
    margin-bottom: 15px;
  }

  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .submit-button:hover {
    background-color: grey;
  }

  @media (max-width: 768px) {
    .paper {
      padding: 1em;
    }

    form {
      width: 100%;
    }

    .MuiTextField-root {
      margin-bottom: 10px;
    }

    .submit-button {
      font-size: 14px;
    }
  }
}
