.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.card-grid Card{
    background-color: aqua;
}


@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

.card {
    transition: transform 0.3s, border 0.3s;
}

.card:hover {
    transform: translateY(-2px);
}

.card.expanded {
    transform: scale(1.05);
}
