.sign_bg {
  background: red;
  height: 90vh;
  max-width: 500px;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 30px 30px 30px 30px;
  background: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  margin: auto;
  animation: fadeIn 1s ease-in-out;
}

.sign_bg h2 {
  font-size: 36px;
  text-align: center;
  color: rgb(255, 255, 255);
  animation: slideDown 0.5s ease-in-out;
}

.input_box {
  position: relative;
  width: 100%;
  height: 60px;
  margin: 30px 0;
}

.input_box input {
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 0 20px;
  color: white;
  margin-top: 40px;
  transition: border 0.3s;
}

.input_box input::placeholder {
  color:  rgb(119, 56, 36);
  font-size: 14px;
}

.input_box input:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.terms{
  padding-top: 30px;
}


.terms, .already_acc {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: 40px 10px;
  width: 100%;
}

.terms label input, .already_acc label input {
  accent-color: white;
  margin-right: 6px;
}

.already_acc{
  justify-content: center;
}

.terms a, .already_acc a {
  color: rgb(199, 74, 36);
  text-decoration: none;
}
.terms label ,.already_acc label{
color:rgb(255, 255, 255);

}
.terms a:hover, .already_acc a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sign_btn button {
  width: 100%;
  height: 45px;
  background-color: rgb(199, 74, 36);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  transition: background-color 0.3s, color 0.3s;
}

.sign_btn button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.sign_btn button:active {
  background-color: rgb(199, 74, 36);
  color: rgb(255, 255, 255);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .sign_bg {
    width: 90%;
    padding: 20px;
  }

  .input_box input {
    margin-top: 20px;
  }

  .terms, .already_acc {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .terms label, .already_acc label {
    margin-bottom: 10px;
  }
}
